
<div class="banner" style="border-radius: 6px; box-shadow: 0 0 8px 0 #dee2e6;">
            <div class="main-banner owl-carousel">
                <div class="item">
                    <a  ><img src="https://file.hstatic.net/200000201143/article/chup_anh_my_pham__dea9c6ccbcac478ab445986be908c965_1024x1024.jpeg" alt="Main Banner" class="img-responsive" /></a>
                </div>
                <div class="item">
                    <a href="#"><img src="https://file.hstatic.net/200000201143/article/chup_anh_my_pham__dea9c6ccbcac478ab445986be908c965_1024x1024.jpeg" alt="Main Banner" class="img-responsive" /></a>
                </div>
                <div class="item">
                    <a href="#"><img src="https://file.hstatic.net/200000201143/article/chup_anh_my_pham__dea9c6ccbcac478ab445986be908c965_1024x1024.jpeg" alt="Main Banner" class="img-responsive" /></a>
                </div>
            </div>
        </div>